<%- include ('../partials/header') %> <%- include ('../partials/navbarlogout') %>

<main>
    <title>W3.CSS</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="row align-items-center">
        <div class="col-lg" style="margin-left: 50px">
            <img src="http://www.ambassadorgames.com/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/s/t/st040.jpg" width="800px"/>
        </div>
        <div class="col-lg" style="padding-right: 100px">
            <% if (locals.message) { %>
                <div
                  class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
                  role="alert"
                >
                  <%= message %>
                </div>
            <% } %>
            <div class="w3-container">
                <h2>Welcome to Card Crusade \(^.^)/ Click on the examples to explore.</h2>
                <p>Click on the buttons below to have a breif overview of what each tab in the header does.</p>
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Profile</button>
              
                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content w3-card-4">
                    <header class="w3-container w3-teal"> 
                      <span onclick="document.getElementById('id01').style.display='none'" 
                      class="w3-button w3-display-topright">&times;</span>
                      <h2>Card Crusade</h2>
                    </header>
                    <div class="w3-container">
                      <p>Here you can view your stats such as wins </p>
                      <p>you can also change your icon and view just general information </p>
                    </div>
                    
                  </div>
                </div>
            </div>
            <div class="w3-container">
                <h3></h3>
                <p></p>
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Game</button>
              
                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content w3-card-4">
                    <header class="w3-container w3-teal"> 
                      <span onclick="document.getElementById('id01').style.display='none'" 
                      class="w3-button w3-display-topright">&times;</span>
                      <h2>The game tab!</h2>
                    </header>
                    <div class="w3-container">
                      <p>Here you can just jump in straght into the actual game and start playing. </p>
                      <p>There are instructions of the game on the game page.</p>
                    </div>
                    
                  </div>
                </div>
            </div>
            <div class="w3-container">
                <h3></h3>
                <p></p>
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Settings</button>
              
                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content w3-card-4">
                    <header class="w3-container w3-teal"> 
                      <span onclick="document.getElementById('id01').style.display='none'" 
                      class="w3-button w3-display-topright">&times;</span>
                      <h2>Settings!</h2>
                    </header>
                    <div class="w3-container">
                      <p>Here you can change your settings as desired. </p>
                      <p></p>
                    </div>
                    
                  </div>
                </div>
            </div>
            <div class="w3-container">
                <h3></h3>
                <p></p>
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Logout</button>
              
                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content w3-card-4">
                    <header class="w3-container w3-teal"> 
                      <span onclick="document.getElementById('id01').style.display='none'" 
                      class="w3-button w3-display-topright">&times;</span>
                      <h2>The game tab!</h2>
                    </header>
                    <div class="w3-container">
                      <p>Logout logs you out whenever you're done playing.  </p>
                      <p>Just log back in to pick up where you left off.</p>
                    </div>
                    
                  </div>
                </div>
            </div>
        </div>
    </div>    
</main>


<%- include ('../partials/footer') %>