<%- include ('../partials/header') %>
  <%- include ('../partials/navbargame') %>

    <main>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <div class="row align-items-center">
        <div class="col-lg" style="margin-left: 50px">
          <img
            src="http://www.ambassadorgames.com/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/s/t/st040.jpg"
            width="800px" />
        </div>
        <div class="col-lg" style="padding-right: 100px">
          <% if (locals.message) { %>
            <div class="alert alert-<%- locals.error ? 'danger' : 'success' %>" role="alert">
              <%= message %>
            </div>
            <% } %>
              <div class="w3-container">
                <h2>Welcome to Card Crusade \(^.^)/ Click on the examples to explore.</h2>
                <p>Click on the buttons below to have a breif overview of what each tab in the header does.</p>
              </div>

                
                <!--Play!-->
                <div class="w3-container">
                  <button onclick="document.getElementById('id02').style.display='block'"
                    class="w3-button w3-black">Play!</button>

                  <div id="id02" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                      <header class="w3-container" style="background-color: #b1060f; color: white;">
                        <span onclick="document.getElementById('id02').style.display='none'"
                          class="w3-button w3-display-topright">&times;</span>
                        <h2>The game!</h2>
                      </header>
                      <div class="w3-container">
                        <p>The play button takes you to the game board where you can jump straight into war!</p>
                        <p>There are instructions on how to battle on the game page.</p>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="w3-container">
                  <h3></h3>
                  <p></p>
                  <button onclick="document.getElementById('id01').style.display='block'"
                    class="w3-button w3-black">User Profile</button>
                  <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                      <header class="w3-container" style="background-color: #b1060f; color: white;">
                        <span onclick="document.getElementById('id01').style.display='none'"
                          class="w3-button w3-display-topright">&times;</span>
                        <h2>User Profile</h2>
                      </header>
                      <div class="w3-container">
                        <p>In User Profile you can view your stats such as your rank, wins, and position on the
                          leaderboard.</p>
                      </div>

                    </div>
                  </div>


              </div>
              <div class="w3-container">
                <h3></h3>
                <p></p>
                <button onclick="document.getElementById('id03').style.display='block'"
                  class="w3-button w3-black">Settings</button>

                <div id="id03" class="w3-modal">
                  <div class="w3-modal-content w3-card-4">
                    <header class="w3-container" style="background-color: #b1060f; color: white;">
                      <span onclick="document.getElementById('id03').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                      <h2>Settings!</h2>
                    </header>
                    <div class="w3-container">
                      <p>In Settings you're able to change your username and password.</p>
                      <p>This will also display your user profile stats.</p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="w3-container">
                <h3></h3>
                <p></p>
                <button onclick="document.getElementById('id04').style.display='block'"
                  class="w3-button w3-black">Logout</button>

                <div id="id04" class="w3-modal">
                  <div class="w3-modal-content w3-card-4">
                    <header class="w3-container" style="background-color: #b1060f; color: white;">
                      <span onclick="document.getElementById('id04').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                      <h2>Logout</h2>
                    </header>
                    <div class="w3-container">
                      <p>Logout logs you out whenever you're done playing.</p>
                      <p>Just log back in to pick up where you left off.</p>
                    </div>

                  </div>
                </div>
              </div>
        </div>
      </div>
    </main>


    <%- include ('../partials/footer') %>