
<%- include ('../partials/header') %><%- include ('../partials/navbarlogin') %>


<main>
    </br>
    <div class="col-sm">
      <% if (locals.message) { %>
        <div
          class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
          role="alert"
        >
          <%= message %>
        </div>
      <% } %>
    </div>
    <div class="container">
        <h1>
            Register an account
        </h1>
    </br>

      <form name="register" action="/register" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" name="email" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="username" name="username" required maxlength="15" minlength="3">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&;])[A-Za-z\d@$!%*?&;{8,}$">

            <small id="passwordHelp" class="form-text text-muted">Must contain at least 8 characters, one capital letter, one special character, and one number
            </small>
          </div>
          <p class="float-left">Already have an account? <a href="/login" style="margin-left: 5px">Login</a></p>
          <button type="submit" class="btn btn-danger float-right">Register</button>
        </form>
    </div>
</main>


<%- include ('../partials/footer') %>